<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tao moi HV</title>
</head>
<body>
<form th:object="${student}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Image:</td>
            <td><input type="file" th:field="*{avatar}" multiple/></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Student"></td>
        </tr>
    </table>
</form>
</body>
</html>