<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-customer">Create new customer</a>
<h1>Customers</h1>
<table border="1">
    <tr>
        <th>name</th>
        <th>address</th>
    </tr>
    <th:block th:each="student : ${list}">
        <tr>
            <td th:text="${student.getName()}"></td>
            <td th:text="${student.getAddress()}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>